<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/boostrap.css" />
</head>
<body>
    <h1>Please Sign Up With Mom's Breakfast</h1>

    <div class="limit">
       <div class="loginflex">
        <form method="POST" action="/admin/add_admin">
         <div class="space"></div>
         <input class="input" type="text" name="nam" placeholder="Full Name"/>
         <div class="space"></div>
         <input class="input" type="text" name="uname" placeholder="Username"/>
         <div class="space"></div>
         <input type="email" class="input" name="email" placeholder="Email"/>
         <div class="space"></div>
         <input type="password" class="input" name="password" placeholder="Password"/>
         <div class="space"></div>
         <button class="btnlogin">Sign Up</button>
         
        </form>
      </div>
    </div>
</body>
</html>